<link href="https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Flavors&family=Indie+Flower&family=Miltonian+Tattoo&family=Plaster&display=swap" rel="stylesheet">



<div class="container">

    <div class="col">

        <div class="img-container">
            <img [src]="currentProduct">
            <div class="img-mask">
                <div class="product-label"
                    style="position: absolute; margin-left:{{productLabel.left}}px; top:{{productLabel.top}}px; z-index:3; color:{{productLabel.color}}; font-size:{{productLabel.size}}pt; font-family:{{productLabel.font}}">
                    {{productLabel.text}}
                </div>
            </div>
        </div>


        <div>
            <input type="text" placeholder="ENTER NAME OR MESSAGE" [(ngModel)]="productLabel.text">
        </div>
        <div>

            Verticle
            <input type="range" max="175" min="10" [(ngModel)]="productLabel.top">
        </div>
        <div>
            Horizontal
            <input type="range" max="175" min="20" [(ngModel)]="productLabel.left">
        </div>



    </div>

    <div class="col">
        <h3>Select Patch Color</h3>
        <div class="product-colors">
            <div [class]="product.color" (click)="select(product.path)"
                [class.active-color]="currentProduct == product.path" *ngFor="let product of productDetails()">
                {{product.color | uppercase}}
            </div>
        </div>

        <h3>Configure Text</h3>
        <div>
            Text Color
            <input type="color" [(ngModel)]="productLabel.color">
        </div>
        <div>
            Font Family
            <input type="text" list="fonts" [(ngModel)]="productLabel.font" (click)="clearFont()">
            <datalist id="fonts">
                <option>'Bungee Outline', cursive</option>
                <option>'Flavors', cursive</option>
                <option>'Indie Flower', cursive</option>
                <option>'Miltonian Tattoo', cursive</option>
                <option>'Plaster', cursive</option>
            </datalist>
        </div>
        <div>
            Font Size
            <input type="range" min="4" max="100" [(ngModel)]="productLabel.size">
        </div>

    </div>

</div>