<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Flavors&family=Indie+Flower&family=Miltonian+Tattoo&family=Plaster&display=swap"
    rel="stylesheet">

<div class="container">

    <div class="canvas-container">
        <h1>Canvas</h1>
        <canvas #canvas width="200" height="200"></canvas>
    </div>


    <div class="tool-bar">
        <h1>Tool Bar</h1>
        <div class="form-control">
            <span>Source</span>
            <select name="source" id="source" [(ngModel)]="config.source">
                <option value="arc" selected>Arc</option>
                <option value="rect">Rect</option>
                <option value="line">Line</option>
                <option value="img">Image</option>
                <option value="video">Video</option>
            </select>
        </div>

        <div class="form-control">
            <span>Fill Color</span>
            <input type="color" [(ngModel)]="config.style">
        </div>
        <div class="form-control">
            <span>Text</span>
            <input type="text" [(ngModel)]="config.text">
        </div>
        <div class="form-control">
            <span> Font Family</span>

            <select style="font-family:{{config.font}}; font-size:20pt; color:black;"
                [(ngModel)]="config.font">
                <option style="font-family:'Bungee Outline', cursive;" value="'Bungee Outline', cursive" selected>Font
                </option>
                <option style="font-family:'Flavors', cursive;" value="'Flavors', cursive">Font </option>
                <option style="font-family:'Indie Flower', cursive;" value="'Indie Flower', cursive">Font </option>
                <option style="font-family:'Miltonian Tattoo', cursive;" value="'Miltonian Tattoo', cursive">Font
                </option>
                <option style="font-family:'Plaster', cursive;" value="'Plaster', cursive">Font </option>
            </select>
        </div>




        <div class="form-control">
            <div class="checkbox-group">
                <span>Stroke</span>
                <input type="checkbox" [(ngModel)]="config.stroke">
            </div>
        </div>

        <div class="stroke-group">

            <div class="form-control" *ngIf="config.stroke">
                <span>Line Width</span>
                <input type="range" max="50" min="0" [(ngModel)]="config.lineWidth">
                <div class="badge">{{config.lineWidth}}</div>
            </div>
            <div class="form-control" *ngIf="config.stroke">
                <span>Stroke Color</span>
                <input type="color" [(ngModel)]="config.strokeStyle">
            </div>

        </div>

        <div class="location-group" *ngIf="config.source != 'line'">

            <div class="form-control">
                <span>X</span>
                <input type="range" max="200" min="0" [(ngModel)]="config.x">
                <div class="badge">{{config.x}}</div>
            </div>

            <div class="form-control">
                <span>Y</span>
                <input type="range" max="200" min="0" [(ngModel)]="config.y">
                <div class="badge">{{config.y}}</div>
            </div>

        </div>

        <div class="size-group" *ngIf="config.source == 'rect'">

            <div class="form-control">
                <span>Width</span>
                <input type="range" max="150" min="0" [(ngModel)]="config.width">
                <div class="badge">{{config.width}}</div>
            </div>

            <div class="form-control">
                <span>Height</span>
                <input type="range" max="150" min="0" [(ngModel)]="config.height">
                <div class="badge">{{config.height}}</div>
            </div>
        </div>

        <div class="line-group" *ngIf="config.source =='line' ">

            <div class="form-control line-input">
                <div class="point">
                    <span>X1</span>
                    <input type="text" max="100" min="0" [(ngModel)]="config.x1">
                </div>

                <div class="point">
                    <span>Y1</span>
                    <input type="text" max="100" min="0" [(ngModel)]="config.y1">
                </div>

                <div class="point">
                    <span>X2</span>
                    <input type="text" max="100" min="0" [(ngModel)]="config.x2">
                </div>

                <div class="point">
                    <span>Y2</span>
                    <input type="text" max="100" min="0" [(ngModel)]="config.y2">
                </div>
            </div>

            <div class="form-control">
                <div class="badge">{{config.y1}}</div>
            </div>

            <div class="form-control">
                <div class="badge">{{config.x2}}</div>
            </div>

            <div class="form-control">
                <div class="badge">{{config.y2}}</div>
            </div>

        </div>


        <div class="form-control" *ngIf="config.source == 'arc'">
            <span>Radius</span>
            <input type="range" max="100" min="0" [(ngModel)]="config.radius">
            <div class="badge">{{config.radius}}</div>
        </div>



        <div class="form-control">
            <div class="button-group">
                <button (click)="render()">Render</button>
                <button (click)="closePath()">Close Path</button>
                <button (click)="beginPath()">Begin Path</button>
                <button (click)="clear()">Clear</button>
            </div>
        </div>

    </div>

</div>